<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>資管導論 -首頁</title>
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/menu.js"></script>
  <script src="../static/js/scroll.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="container">
  <header>
    <div class="header-container">
      <a href="/" class="title">資訊管理導論-陳恩儒</a>
      <button class="menu-toggle">
        <span class="hamburger"></span>
      </button>
      <nav>
        <ul class="nav-menu">
          <li><a href="/">首頁</a></li>
          <li><a href="/">首頁</a></li>
          <li><a href="/">首頁</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="main-content">
    <section class="section experience">
      <h2>基本資料</h2>
      <div class="profile">
        <img src="https://scontent.frmq2-2.fna.fbcdn.net/v/t39.30808-6/384656904_3531982960372987_3022059660708656474_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=Cde4TlnpyQYQ7kNvwH6Ko3n&_nc_oc=AdmZbCn90FbTjhNvtCvAmbeyumhI1URnc_IbNLFqdqso-kAv3j5JM5SO1L_t1Ktf34Y&_nc_zt=23&_nc_ht=scontent.frmq2-2.fna&_nc_gid=PmpkMg9s-Xtg0G2Za2Z1FA&oh=00_AfEsS2kXAINsZWMxSeZLHxk7g4d7IZl2b8r1hl9PuWvWeA&oe=67FB0D8A" alt="陳恩儒的照片" class="profile-img">
        <div class="info">
          <p>姓名：陳恩儒</p>
          <p>系級：資訊管理學系 二年級B班</p>
          <p>學號：411211383</p>
          <p>信箱：arren1088@gmail.com</p>
        </div>
      </div>
    </section>

    <section class="section experience">
      <h2>經歷</h2>
      <div class="experience-container">
        <ul>
          <li><i class="fas fa-trophy"></i> 高一 － 班聯會成員</li>
          <li><i class="fas fa-briefcase"></i> 高二 － 班聯會文書長</li>
          <li><i class="fas fa-camera"></i> 高二 － 攝影小組副隊長</li>
          <li><i class="fas fa-chalkboard-teacher"></i> 高二 － 校內班學聯活動總召</li>
          <li><i class="fas fa-users"></i> 高二 － 桃區班學聯最大活動核心幹部</li>
        </ul>
        <div class="image-overlay">
          <img src="../static/DAXI.jpg" alt="圖片2" class="overlay-image">
        </div>
      </div>
    </section>

    <section class="section interests">
      <h2>興趣與專長</h2>
      <ul style="list-style-type: none; display: flex; flex-wrap: wrap; gap: 30px;">
        <li><i class="fas fa-swimmer"></i> 游泳</li>
        <li><i class="fas fa-film"></i> 看電影</li>
        <li><i class="fas fa-plane"></i> 旅遊</li>
        <li><i class="fas fa-gamepad"></i> 玩遊戲</li>
        <li><i class="fas fa-microphone"></i> 唱歌</li>
        <li><i class="fas fa-glass-cheers"></i> 喝酒</li>
        <li><i class="fas fa-laptop-code"></i> 程式設計</li>
        <li><i class="fas fa-code"></i> 網頁開發</li>
      </ul>
    </section>

    <section class="section social-links">
      <h2>社交平台</h2>
      <ul>
        <li><a href="https://github.com/arren1088" target="_blank"><i class="fab fa-github"></i>GitHub</a></li>
        <li><a href="https://www.facebook.com/EnRuC/" target="_blank"><i class="fab fa-facebook"></i>Facebook</a></li>
        <li><a href="https://www.instagram.com/ej_c.18/" target="_blank"><i class="fab fa-instagram"></i>Instagram</a></li>
      </ul>
    </section>
    <button class="scroll-to-top" onclick="scrollToTop()">
      <i class="fas fa-arrow-up"></i>
    </button>
  </main>

</div>
</body>
<footer>
  © 2025 靜宜大學資管系 陳恩儒 - 版權所有<br>
  © 2025 Providence University Computer Science Information Management, EJ C. - All Rights Reserved.
</footer>
</html>
